@using WebApp2.Model;
@model Categories;

<!DOCTYPE html>
<html>
<head>
    <title>Categories 🐈 </title>
</head>
<body>
    <h1>Categories 🐈</h1>
    <ul>
        <li><a href="/categories/edit/1">Maincoon 🐈‍</a></li>
        <li><a href="/categories/edit/2">British Short Hair🐈‍</a></li>
    </ul>

</body>
</html> 