<!DOCTYPE html>
<html>
<head>
    <title>Categories 🐈 </title>
</head>
<body>
    <h1>Categories 🐈</h1>
    <ul>
        <li><a href="/categories/edit/1">Maincoon 🐈‍</a> (click at your own risk!) </li>
        <li><a href="/categories/edit/2">British Short Hair🐈‍</a> (click at your own risk!) </li>

    </ul>

</body>
</html> 